<label class="mteFormImage">
	<span>{$TITLE}</span>
	{if !$READ_ONLY} 
		<input type="file" name="{$NAME}" size="{$SIZE}" {if $VALIDATE}class="mteFormsValidateInput"{/if} autocomplete="off" />
	{/if}
	{if $HELP != ''}
		<a href="#" class="mteFormHelp" title="{$HELPTITLE}"><span>{$HELP}</span></a>
	{/if}	
</label>
<div class="mteFormImageExtra">
{if $VALUE != ''}
	<img src="{$VALUE}" alt="{$TITLE}" />
	{if !$READ_ONLY}<br />Remove: <input type="checkbox" name="{$NAME}_remove" value="1" title="Check this option if you want to remove this image." />{/if}
{/if}
</div>