<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$LANG}" lang="{$LANG}">
<head>
{$HEADER}
</head>
<body>
	<div id="mtePage">
		{$BODY}
		{$FOOTER}
	</div>
	<!-- Special sections for auxiliary data -->
	<div id="mteAuxDiv1"><a href="http://motte.codigolibre.net" target="_blank"  title="{$ZONE_LEGEND}"><span>motte.codigolibre.net</span></a></div><div id="mteAuxDiv2"></div><div id="mteAuxDiv3"></div>
</body>
</html>
